/* colocar a data e a hora com Saudação */
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

:root{
    --cor-principal: hsl(175deg, 97%, 57%);
    --cor-principal-marcado: hsla(175, 97%, 57%, 0.80);
    --cor-secundaria: hsl(23, 100%, 50%);
    --cor-auxiliar: hsla(0, 100%, 100%, 0.25);
    --cor-auxiliar-opaco: hsla(0, 100%, 100%, 1);
    --cor-marcado: hsl(23, 100%, 50%, 0.50);
    --cor-texto-marcado : hsla(0, 0, 0, 1);
    --font-principal: "Share Tech Mono", monospace;
    --font-secundaria: "Sriracha", cursive;
    --font-peso: 400;
    --font-estilo: normal;
    --width-area: 120rem;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
html{
    background: linear-gradient(to right, var(--cor-principal) 0%, var(--cor-secundaria) 40% 60%, var(--cor-principal) 100%);
    font-size: 10px;
    scroll-behavior: smooth;
}
body{
    background-color: var(--cor-auxiliar);
    font-family: var(--font-principal);
    font-weight: var(--font-peso);
    font-style: var(--font-estilo);
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
}
main{
    width: var(--width-area);
    margin: auto;
}
/* cabeçalho e menu */
header.top{
    height: 5rem;
}
.top__scroll{
    box-shadow: 0 0 12px hsla(0, 0%, 0%, 0.35);
}
div.top__mp_tp{
    background-color: var(--cor-auxiliar-opaco);
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 100;
}
nav.top__nav_mp_tp{
    display: flex;
    justify-content: space-around;
    padding-right: 2rem;
    align-items: baseline;
}
img.mp_tp__logo{
    width: 15rem;
    display: flex;
    margin-top: 1rem;
    padding-left: 2rem;
}
nav.top__nav_mp_tp ul{
    display: inline;
}
nav.top__nav_mp_tp ul li{
    list-style: none;
    display: inline;
    gap: 1rem;
    font-size: 1.5rem;
    padding: 0.5rem;
    border-radius: 15px 12px;
}
nav.top__nav_mp_tp ul li:last-child{
    background-color: var(--cor-principal-marcado);
    border-radius: 15px 12px;
}
nav.top__nav_mp_tp ul li:last-child > a{
    color: var(--cor-texto-marcado);
}
nav.top__nav_mp_tp ul li:hover{
    background-color: var(--cor-marcado);
}
nav.top__nav_mp_tp ul li>a{
    text-decoration: none;
    color: var(--cor-secundaria);
}
nav.top__nav_mp_tp ul li>a:hover{
    color: var(--cor-texto-marcado);
}
i[menu]{
    display: none;
}
/* main */
main{
    background-image: url("../img/l_tp.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-color: var(--cor-auxiliar);
    background-size: auto;
    background-blend-mode: lighten;

}
/* section */
section[id]{
    height: calc(100vh - 17.8rem);
    /* height: 100vh; */
    padding-top: 10rem;
}
section h1, section h2{
    font-size: 3rem;
}
#como-chegar{
    height: 40rem;
}
#como-chegar iframe{
    height: 30rem;
    width: var(--width-area);
}
hr.direta{
    height: 0.35rem;
    background: linear-gradient(to right, var(--cor-principal) 0%, var(--cor-secundaria) 65%);
    border-style: none;
}
hr.esquerda{
    height: 0.35rem;
    background: linear-gradient(to left, var(--cor-principal) 0%, var(--cor-secundaria) 65%);
    border-style: none;
}
/* rodape */
footer{
    height: 15rem;
}
footer .rodape{
    height: inherit;
    font-size: 1.25rem;
    background-color: var(--cor-auxiliar-opaco);
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    color: var(--cor-secundaria);
    box-shadow: 0 0 12px hsla(0, 0%, 0%, 0.35);
}
footer .rodape .rodape__redes{
    padding: 2rem;
}
footer .rodape ul li{
    padding-left: 1rem;
    list-style: none;
}
footer .rodape ul li>a{
    text-decoration: none;
    color: var(--cor-secundaria);
}
footer .rodape ul li>a:hover{
    background-color: var(--cor-marcado);
    color: var(--cor-texto-marcado);
}
footer .rodape div.rodape__contatos{
    display: flex;
    text-align: right;
    justify-content: space-around;
    align-items: center;
}
footer .rodape .rodape__contatos>.endereco{
    display: flex;
    align-items: center;
}
#localizar{
    font-size: 3rem;
    padding: 1rem;
}
footer .rodape div.rodape__contatos a{
    color: var(--cor-secundaria);
}
i{
    font-size: 2rem;
}
/* back to home */
#btn_voltar{
    position: fixed;
    font-size: 3rem;
    bottom: 10rem;
    right: 10rem;
    transform: translateX(100%);
    transition: 0.3s;
}
#btn_voltar{
    color: var(--cor-secundaria);
}
#btn_voltar i{
    font-size: 4rem;
}
.hide{
    display: none;
}
li a.ativa{
    border-bottom: 0.25rem;
    padding-bottom: 1rem;
    border-bottom-color: var(--cor-secundaria);
    border-bottom-style: solid;
    transition: all cubic-bezier(0.895, 0.03, 0.685, 0.22) 1s;
}
@media (max-width:550px ) {
    /* inicial */
    header, main, footer {
        max-width: 400px;
        margin: auto;
    }
    /* header */
    div.top__mp_tp{
        width: 400px;
    }
    /* nav */
    div.top__mp_tp{
        height: inherit;
    }
    /* nav.top__nav_mp_tp{
         display: none;
    } */
    .top__nav_mp_tp ul{
        height: 100vh;
        width: 100vw;
        text-align: center;
    }
    div.top__mp_tp ul li {
        margin: auto;
    }
    i[menu]{
        display: inline;
    }
    /* main */
    main{
        background-size: 400px;
    }
    /* section */
    section{
        max-width: 400px;
    }
    /* footer */
    footer .rodape{
        max-width: 400px;
        font-size: 1rem;
    }
    /* back2home */
    #btn_voltar{
    right: 4rem;
    transform: translateX(100%);
    transition: 0.3s;
}
}